
a {
    text-decoration: none;
}
header ul {
    list-style-type: none;
    padding-inline-start: 0px;
    display: inline-flex;

}
header ul li {
    margin: 1px;
    padding: 5px;
    background-color: lightgrey;
    border-color: white;
    border-radius: 3px;
}
.text a:hover {
    text-decoration: underline;
}

img {
    margin: 1px;
}
/* img:hover {
    transform: scale(1.1);
} */
